.container--relative {
  position: relative;
}
/* описания  */
.description {
  padding-top: 166px;
}
.description__info {
  padding: 5px 0;
}
.description__info-text {
  font-family: "OpenSans";
  font-size: 16px;
  color: #828282;
  text-align: justify;
  margin-top: 20px;
}
.description__title {
  text-align: center;
  margin-bottom: 69px;
}
.description__info-text:nth-child(1) {
  margin-top: 0;
}
.description__box {
  display: flex;
  flex: 0 1 64%;
}
.description__inner {
  display: flex;
  justify-content: space-between;
}
.description__image-big {
  width: 679px;
}
.description__item {
  height: 490px;
}
.description__mySwiper2 {
  width: 679px;
  height: auto;
}
.description__info {
  flex: 0 1 34%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description__image-small {
  width: 169px;
  height: 149px;
}
@media (max-width: 1400px) {
  /* описания  */

  .description__mySwiper2 {
    width: 60%;
  }
  .description__inner {
    flex-wrap: wrap;
  }
  .description__box {
    flex: 0 1 100%;
  }
  .description__info {
    flex: 0 1 100%;
  }
  .description__item {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* описания  */

  .description__image-big {
    width: 298px;
    height: 253px;
  }
  .description__image-big {
    width: auto;
    height: 253px;
  }
  .description__image-small {
    width: 76px;
    height: 78px;
  }
  .description__info-text {
    font-size: 14px;
  }
  .description__info-text:nth-child(1) {
    margin-top: 40px;
  }
  .description__title {
    font-size: 49px;
    margin-bottom: 29px;
  }
}
