/node_modules
package-lock.json
composer.lock
/public/hot
/public/storage
/public/resources/orchid
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
error.log
access.log
/resources/data
