body {
  background: #f8f8f8;
}

.question {
  margin-top: 55px;
  margin-bottom: 110px;
}

.question h1 {
  text-align: center;
}

.question .ask {
  width: 359px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c8a98d;
  font-family: "Anglecia";
  font-weight: 700;
  border: 2px solid #c8a98d;
  border-radius: 71px;
  margin: 40px auto 0 auto;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
}

.question .ask:hover {
  color: #5f5839;
  border: 2px solid #5f5839;
}

.question .items {
  margin-top: 72px;
}

.question .items .item {
  height: auto;
  overflow: hidden;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  margin-bottom: 15px;
}

.question .items .item:last-of-type {
  margin-bottom: 0;
}

.question .items .item--active .arrow svg {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.question .items .item .top {
  padding: 28px 55px 28px 37px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
}

.question .items .item .top .text {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.025em;
  color: #5f5839;
  font-family: "Anglecia";
  font-weight: 700;
}

.question .items .item .top .text svg {
  margin-right: 17px;
  flex-shrink: 0;
}

.question .items .item .bottom {
  padding: 0 70px 0;
  font-size: 16px;
  line-height: 22px;
  color: #5f5839;
  font-family: "OpenSans";
  max-height: 0;
  height: auto;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}

.question .items .item .arrow svg {
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}

.question .items .item--active .bottom {
  padding: 26px 70px 63px;
  max-height: 3000px;
}

/* Модальное окно */

@media (max-width: 1050px) {
  .question .items .item .top .arrow {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .question .items .item .top .text {
    font-size: 14px;
    line-height: 18px;
  }
  .question .items .item .bottom {
    font-size: 14px;
    line-height: 16px;
  }
  .question .items .item .top {
    padding: 28px 20px 28px 20px;
  }
  .question .items .item .bottom {
    padding: 0 40px 0;
  }
  .question .items .item--active .bottom {
    padding: 26px 40px 63px;
  }
}

@media (max-width: 425px) {
  .question .ask {
    width: 100%;
  }
  .question .items .item .bottom {
    padding: 0 20px 0;
  }
  .question .items .item--active .bottom {
    padding: 26px 20px 63px;
  }
}