* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    color: inherit;
}

.body {
    font-family: "Anglecia";
}

img {
    pointer-events: none;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.container {
    max-width: 1480px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    /* position: relative; */
}

.padding {
    padding-top: 100px;
}

h1 {
    font-size: 75px;
    line-height: 94px;
    color: #5f5839;
    font-family: "Anglecia";
    font-weight: 500;
}

.seemore {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #c8a98d;
    justify-content: center;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.seemore svg {
    margin-left: 15px;
    fill: #c8a98d;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.seemore:hover {
    color: #5f5839;
}

.seemore:hover svg {
    fill: #5f5839;
}

.overflow {
    overflow: hidden;
}

@media (max-width: 600px) {
    h1 {
        font-size: 49px;
        line-height: 61px;
    }
}

h2 {
    font-family: "Anglecia";
    font-size: 48px;
    color: #5f5839;
    font-weight: 500;
}

/* arrow для линков и кнопков  */
.link--arrow-black::after {
    content: "";
    position: absolute;
    top: 0;
    right: -22px;
    width: 51px;
    height: 42px;
    background: url("/assets/img/arrowBtn.svg") no-repeat;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.link--arrow-black:hover::after {
    background: url("/assets/img/arrowBtn-hover.svg") no-repeat;
}

.link--arrow-black {
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.link--arrow-black:hover {
    color: #c8a98d !important;
}

.link--arrow-brown::after {
    content: "";
    position: absolute;
    top: 0;
    right: -31px;
    width: 51px;
    height: 42px;
    background: url("/assets/img/arrowBrown.png") no-repeat;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.link--arrow-brown:hover::after {
    background: url("/assets/img/arrowBrown-hover.svg") no-repeat;
}

.link--arrow-white::after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    width: 51px;
    height: 42px;
    background: url("/assets/img/arrowWhite.svg") no-repeat;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.link--arrow-white:hover::after {
    background: url("/assets/img/arrowWhite-hover.svg") no-repeat;
}

.link--arrow-white {
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.link--arrow-white:hover {
    color: #c8a98d;
}

.link--arrow-brown {
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    cursor: pointer;
}

.link--arrow-brown:hover {
    color: #5f5839;
}

/* пагинацию  навешывать доп класс default */
.default .swiper-pagination-bullet {
    background: #bdbdbd;
    opacity: 0.4;
    width: 47px;
    height: 3px;
    border-radius: 0;
}

.default .swiper-pagination-bullet-active {
    background: #c8a98d;
}

.pagination span {
    font-size: 18px;
    line-height: 21px;
    color: #5f5839;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.ready .swiper-wrapper {
    align-items: flex-end;
}

.other__wp .swiper-wrapper {
    align-items: flex-end;
}

/* мероприятия */
.events {
    padding-top: 99px;
    margin-bottom: 77px;
}

.events__next {
    margin-top: 105px;
    display: flex;
    justify-content: center;
}

.events__next-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 42px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Anglecia";
    color: #c8a98d;
    font-weight: 500;
}

.events__link {
    margin-top: 10px;
    margin-bottom: 22px;
    width: auto;
    display: flex;
}

.events__wp {
    padding-bottom: 75px;
    display: none;
}

.events__link-item {
    font-size: 16px;
    color: #c8a98d;
    text-transform: uppercase;
    font-family: "Anglecia-Medium";
    display: flex;
    align-items: center;
    position: relative;
    height: 42px;
}

.events__date {
    font-size: 14px;
    color: #5f5839;
    font-family: "Anglecia-Regular";
    margin-top: 30px;
}

.events__item {
    width: 47%;
    border-bottom: 1px solid #c8a98d;
}

.events__item:nth-child(n + 3) {
    margin-top: 20px;
}

.events__item:nth-child(4) {
    margin-top: 0;
}

.events__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 1890px;
}

.events__image--bgz {
    height: 701px;
}

.events__image--min {
    height: 379px;
}

/* готовые решения */
.ready {
    background: rgba(226, 218, 201, 0.2);
    font-family: "Anglecia-Medium";
    color: #c8a98d;
    padding-bottom: 100px;
    padding-top: 72px;
    position: relative;
}

.ready__title {
    margin-bottom: 54px;
}

.ready__wp,
.wesee__wp {
    width: 80%;
    padding-bottom: 120px;
}

.ready__person {
    font-size: 21px;
    margin-top: 24px;
    color: #5f5839;
}

.ready__total {
    display: flex;
}

.ready__total-price {
    font-size: 26px;
}

.ready__total-weight {
    font-size: 14px;
    color: #5f5839;
    margin-left: auto;
    align-self: flex-end;
    padding: 0 55px;
}

.ready__image--minsize {
    height: 318px;
}

.ready__image--bigsize {
    height: 359px;
}

.ready__buttons {
    display: flex;
    align-items: center;
    margin-top: 47px;
}

.ready__buttons-basket {
    background: #c8a98d;
    border-radius: 71px;
    width: 125px;
    height: 37px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    cursor: pointer;
}

.ready__buttons-basket:hover {
    background: #5f5839;
}

.ready__buttons-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 42px;
    margin-left: 23px;
}

.swiper-slide--flex {
    align-self: flex-end;
}

.ready__button-prev,
.ready__button-next {
    top: 40%;
}

.ready-category {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ready-category__items {
    display: flex;
}

.ready-category__item {
    position: relative;
}

.ready-category__item-image {
    width: 20px;
    height: 21px;
}

.ready-category__item-tooltip {
    position: absolute;
    top: -42px;
    left: 0;
    width: 180px;
    height: 38px;
    font-size: 12px;
    font-family: "OpenSans";
    display: none;
    justify-content: center;
    align-items: center;
    color: #5f5839;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
    border-radius: 61px;
}

.ready-category__item:hover .ready-category__item-tooltip {
    display: flex;
}

.ready-category__item-tooltip::after {
    content: " ";
    background: url("/assets/img/arrowtoolt.svg") no-repeat;
    background-size: cover;
    position: absolute;
    width: 39px;
    top: 66%;
    left: 10%;
    height: 19px;
}

.ready-category__item:nth-child(n + 1) {
    margin-right: 20px;
}

/* тэг  */
.tag {
    color: #e2dac9;
    font-size: 9px;
    font-family: "OpenSans";
    height: 30px;
    padding: 0 15px;
    border: 1px solid #e2dac9;
    border-radius: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    cursor: pointer;
}

.tag:hover {
    border: 1px solid #5f5839;
    color: #5f5839;
}

.tag_gr {
    color: #e2dac9;
    font-size: 12px;
    font-family: "OpenSans";
    height: 30px;
    padding: 7px 15px;
    border: 1px solid #e2dac9;
    border-radius: 71px;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    cursor: pointer;
}

.tag_gr:hover {
    border: 1px solid #5f5839;
    color: #5f5839;
}

/* тултип */
.tooltip__items {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.tooltip__item {
    position: relative;
}

.tooltip____item-image {
    width: 42px;
    height: 42px;
}

.tooltip__item-tooltip {
    position: absolute;
    top: -42px;
    left: 0;
    width: 180px;
    height: 38px;
    font-size: 12px;
    font-family: "OpenSans";
    display: none;
    justify-content: center;
    align-items: center;
    color: #5f5839;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
    border-radius: 61px;
}

.tooltip__item:hover .tooltip__item-tooltip {
    display: flex;
}

.tooltip__item-tooltip::after {
    content: " ";
    background: url("/assets/img/arrowtoolt.svg") no-repeat;
    background-size: cover;
    position: absolute;
    width: 39px;
    top: 66%;
    left: 10%;
    height: 19px;
}

.tooltip__item:nth-child(n + 1) {
    margin-right: 20px;
}

/* меню боковое */
.catalog h1 {
    margin-top: 90px;
}

.catalog__wrap {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog__wrap .menu {
    max-width: 407px;
    width: 100%;
    border: 1px solid #e2dac9;
    border-radius: 7px;
    padding: 33px 48px;
    max-height: 78px;
    overflow: hidden;
    transition: ease-in-out 0.4s;
    -webkit-transition: ease-in-out 0.4s;
    -moz-transition: ease-in-out 0.4s;
    -ms-transition: ease-in-out 0.4s;
    -o-transition: ease-in-out 0.4s;
    cursor: pointer;
    margin-right: 10px;
}

.catalog__wrap .menu--active {
    max-height: 2000px;
}

.catalog__wrap .menu .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
    font-family: "OpenSans";
    font-weight: 700;
}

.catalog__wrap .menu .top svg {
    transition: ease-in-out 0.4s;
    -webkit-transition: ease-in-out 0.4s;
    -moz-transition: ease-in-out 0.4s;
    -ms-transition: ease-in-out 0.4s;
    -o-transition: ease-in-out 0.4s;
}

.catalog__wrap .menu--active .top svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.catalog__wrap .menu .bottom {
    margin-top: 23px;
}

.catalog__wrap .menu__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "OpenSans";
    line-height: 30px;
    color: #4f4f4f;
}

.catalog__wrap .menu__item .count {
    width: 49px;
    height: 21px;
    background: #fff;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #bdbdbd;
    font-family: "OpenSans";
    margin-left: 10px;
}

.catalog__wrap .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__wrap .cards .card {
    max-width: 315px;
    width: 100%;
    border: 1px solid #e2dac9;
    border-radius: 7px;
    overflow: hidden;
}

.catalog__wrap .cards .card .image {
    width: 100%;
    height: 304px;
}

.catalog__wrap .cards .card .textBlock {
    padding: 20px 18px 32px;
}

/* 28.04.2022 */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    z-index: 9999;
}

.modal--active {
    opacity: 1;
    visibility: visible;
}

.modal__wrap {
    position: relative;
}

.modal__close {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.modal__wrap {
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #e2dac9;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.modal--replace .modal__wrap {
    max-width: 900px;
    padding: 60px 60px 20px;
}

.modal--add .modal__wrap {
    max-width: 835px;
    padding: 50px 50px 30px;
    max-height: 80vh;
    height: 100%;
    overflow: hidden;
}

.modal__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
    color: #5f5839;
    font-family: "OpenSans";
}

.modal__product {
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
    text-decoration-line: underline;
    color: #5f5839;
    -moz-text-decoration-line: underline;
    font-family: "OpenSans";
}

.modal__items {
    width: calc(100% + 40px);
    margin: 30px -40px 0;
    display: flex;
    flex-wrap: wrap;
}

.modal__item {
    width: calc(33.333% - 40px);
    margin-left: 40px;
    margin-bottom: 40px;
}

.modal__item input {
    display: none;
}

.modal__item label {
    border: 1px solid #e2dac9;
    display: block;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 100%;
}

.modal__item label::after {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 6px;
    right: 6px;
    box-shadow: 0px 0px 16px rgba(95, 88, 57, 0.05);
    background: #fff;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    content: "";
}

.modal__item label::before {
    position: absolute;
    top: 18px;
    right: 15px;
    content: "";
    content: "";
    background: url(/assets/img/check-quiz-icon.svg);
    width: 13px;
    height: 10px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.modal__item input:checked + label::before {
    opacity: 1;
    visibility: visible;
}

.modal__item-image {
    height: 83px;
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-top: -1px;
}

.modal__item-wrap {
    padding: 20px;
}

.modal__item-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #5f5839;
    font-family: "Anglecia";
}

.modal__item--another .modal__item-wrap {
    padding: 30px 30px;
}

.modal__item-title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #5f5839;
    font-family: "Anglecia";
}

.modal__item--another .modal__item-text {
    font-size: 10px;
    line-height: 14px;
    color: #828282;
    margin-top: 10px;
    font-family: "OpenSans";
}

.modal--add .modal__title {
    font-size: 24px;
    line-height: 30px;
    font-family: "Anglecia";
}

.modal__search {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.modal__search input {
    width: 100%;
    height: 40px;
    padding: 0 50px 0 25px;
    background: rgba(200, 169, 141, 0.1);
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    color: #5f5839;
    font-family: "OpenSans";
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.modal__search-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
}

.modal__results {
    margin-top: 20px;
    height: 315px;
    overflow: hidden;
}

.modal__results .list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.modal__results-item {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #5f5839;
    font-family: "OpenSans";
    display: flex;
    align-items: center;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    margin-bottom: 20px;
}

.modal__results-item:last-of-type {
    margin-bottom: 0;
}

.modal__results-addbtn {
    width: 122px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c8a98d;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 14px;
    line-height: 19px;
    color: #c8a98d;
    margin-left: 10px;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.modal__results-item:hover {
    color: #c8a98d;
}

.modal__results-item:hover .modal__results-addbtn {
    opacity: 1;
    visibility: visible;
}

/* 28.04.2022 */


/* modals */
.modal-event {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.modal-event--active {
    opacity: 1;
    visibility: visible;
}

.modal-event .modal-event-wrap {
    max-width: 1135px;
    width: 100%;
    padding: 45px 103px 55px 42px;
    background: #fff;
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1px solid #e2dac9;
}

.modal-event .title {
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5f5839;
    font-family: "Anglecia";
    font-weight: bold;
    text-align: center;
}

.modal-event .inputs {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.modal-event .input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 54px;
}

.modal-event .input-group:last-of-type {
    margin-bottom: 0;
}

.modal-event .input-group input {
    width: 296px;
    height: 65px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    outline: none;
    border: 1px solid #e2dac9;
    padding: 0 25px;
    font-size: 16px;
    line-height: 22px;
    color: #5f5839;
    font-family: "Open Sans";
}

.modal-event .input-group label {
    font-size: 18px;
    line-height: 23px;
    color: #5f5839;
    font-family: "Anglecia";
    font-weight: 500;
    position: absolute;
    top: -12px;
    left: 35px;
    padding: 0 15px;
    background: #fff;
}

.modal-event .input-group label span {
    color: #dc0303;
}

.modal-event .input-group textarea {
    resize: none;
    width: 296px;
    height: 100%;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    border: 1px solid #e2dac9;
    outline: none;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 22px;
    color: #5f5839;
    font-family: "Open Sans";
}

.modal-event .rightBlock .input-group {
    height: 100%;
}

.modal-event .bottom {
    margin-top: 44px;
}

.modal-event .bottom .order-link {
    width: 296px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #5f5839;
    border-radius: 71px;
    -webkit-border-radius: 71px;
    -moz-border-radius: 71px;
    -ms-border-radius: 71px;
    -o-border-radius: 71px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5f5839;
    font-family: "Anglecia";
    font-weight: bold;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    cursor: pointer;
}

.modal-event .bottom {
    display: flex;
    align-items: center;
}

.modal-event .bottom .order-link:hover {
    color: #c8a98d;
    border: 2px solid #c8a98d;
}

.modal-event .bottom .modal-event label::before {
    width: 53px;
    height: 26px;
}

.modal-event .check-group {
    margin-left: 46px;
}

.modal-event .check-group input[type="checkbox"] {
    display: none;
}

.premium__link {
    cursor: pointer;
}

.modal-event .check-group label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    font-family: "Roboto";
    color: #b8b8b8;
    padding-left: 75px;
}

.modal-event .check-group label a {
    color: #5f5839;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.modal-event .check-group label a:hover {
    color: #e2dac9;
}

.modal-event .check-group label::after {
    position: absolute;
    content: "";
    width: 53px;
    height: 26px;
    background: #fafafa;
    box-shadow: inset 0px 4px 11px rgba(0, 0, 0, 0.15);
    border-radius: 89px;
    -webkit-border-radius: 89px;
    -moz-border-radius: 89px;
    -ms-border-radius: 89px;
    -o-border-radius: 89px;
    left: 0;
}

.modal-event .check-group label::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: #d6d6d6;
    box-shadow: 0px 4px 4px rgba(205, 205, 205, 0.12);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 0;
    z-index: 2;
    top: -8px;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.modal-event .check-group input[type="checkbox"]:checked + label::before {
    background: #c8a98d;
    box-shadow: 0px 4px 4px rgba(200, 169, 141, 0.1);
    left: 25px;
}

.modal-event .btn-close {
    position: absolute;
    right: 40px;
    top: 33px;
    cursor: pointer;
}

.inCartKor,
.inCartOne,
.inCart {
    cursor: pointer;
}

.bread {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 19px;
    font-family: "OpenSans";
    color: #5f5839;
    flex-wrap: wrap;
}

.bread__separator {
    margin: 0 5px;
}

.bread__page {
    color: #c8a98d;
}

/* new pages */
.login {
    margin: 55px 0 100px;
    position: relative;
}

.login__decor {
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
}

.login h1 {
    text-align: center;
}

.login__form {
    margin-top: 60px;
    max-width: 1160px;
    margin-left: auto;
    border: 1px solid #e2dac9;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 100px 70px;
}

.login__form-group {
    max-width: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 55px;
}

.login__form-group:last-of-type {
    margin-bottom: 0;
}

.login__form-group input {
    width: 100%;
    height: 65px;
    outline: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid #e2dac9;
    padding: 0 45px;
    font-size: 18px;
    line-height: 28px;
    color: #5f5839;
    font-family: "Anglecia";
}

.login__form-group label {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: #5f5839;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    font-family: "Anglecia";
    top: -13px;
    left: 40px;
}

.login__form-links {
    margin-top: -30px;
    margin-left: 45px;
}

.login__form-link {
    font-size: 18px;
    line-height: 28px;
    color: #c8a98d;
    font-family: "OpenSans";
    font-weight: 300;
    margin-right: 30px;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

.login__form-link:last-of-type {
    margin-right: 0;
}

.login__form-link:hover {
    color: #5f5839;
}

.login .events__link-item {
    border: none;
    background: none;
    letter-spacing: 0.125em;
    color: #5f5839;
    font-family: "Anglecia";
    cursor: pointer;
    margin-left: 40px;
    margin-top: 20px;
}

.login__form-notation {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-family: "OpenSans";
    color: #5f5839;
    margin-top: -10px;
    margin-left: 45px;
}

.login__form-notation a {
    color: #c8a98d;
}

.login__form-notation a:hover {
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}

.personalArea {
    margin-bottom: 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination__item {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    color: #5f5839;
    font-family: "Anglecia";
    font-weight: 600;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    margin-right: 12px;
}

.pagination__item:last-of-type {
    margin-right: 0;
}

.pagination__item--active {
    background: #c8a98d;
    color: #fff;
}

.pagination__dots {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    font-size: 18px;
    color: #757575;
    line-height: 21px;
    font-family: "Anglecia";
    font-weight: 600;
}


@media (max-width: 1200px) {
    .modal-event .modal-event-wrap {
        padding: 45px 20px 55px;
    }
}

@media (max-width: 1120px) {
    /* готовые решения */
    .ready__image--bigsize {
        height: 318px;
    }
}

@media (max-width: 1024px) {
    /* готовые решения */
    .ready__image--bigsize,
    .ready__image--minsize {
        height: 266px;
    }
}

@media (max-width: 940px) {
    .modal-event .inputs {
        flex-direction: column;
    }

    .modal-event .input-group {
        margin-bottom: 30px;
    }

    .modal-event .input-group:last-of-type {
        margin-bottom: 30px;
    }

    .modal-event .input-group input {
        width: 100%;
    }

    .modal-event .input-group textarea {
        width: 100%;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 26px;
    }

    /* готовые решения */
    .ready__wp {
        width: 90%;
    }

    /* мероприятия */
    .events__next {
        margin-top: 30px;
    }

    .events__wp {
        display: block;
    }

    .events__link-item {
        font-size: 14px;
    }

    .events__image {
        width: auto;
        height: 396px;
    }

    .events__item {
        width: 95%;
        margin: 0 auto;
    }

    .events__items {
        display: none;
    }

    .modal-event .bottom {
        flex-direction: column;
        margin-top: 0;
    }

    .modal-event .check-group {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 49px;
        line-height: 61px;
    }
}

@media (max-width: 555px) {
    /* готовые решения */
    .ready__item {
        width: auto;
        margin: 0 auto;
    }

    .modal-event .btn-close {
        top: 48px;
        right: 20px;
    }

    .modal-event .btn-close svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 425px) {
    .modal-event .check-group label {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .modal-event .check-group label a {
        margin-left: 5px;
    }

    .modal-event .check-group label::after {
        top: -7px;
    }

    .modal-event .check-group label::before {
        top: -8.5px;
    }

    .modal-event .btn-close {
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 374px) {
    /* мероприятия */
    .events__item {
        width: 100%;
    }

    .events__image {
        height: 300px;
    }

    .events__link-item {
        font-size: 12px;
    }
}
