body {
  background: #f8f8f8;
}
.catalog h1 {
  margin-top: 90px;
}
.catalog__wrap {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog__wrap .menu {
  max-width: 407px;
  width: 100%;
  border: 1px solid #e2dac9;
  border-radius: 7px;
  padding: 33px 48px;
  max-height: 78px;
  overflow: hidden;
  transition: ease-in-out 0.4s;
  -webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  -ms-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  cursor: pointer;
  flex-shrink: 0;
  margin-bottom: 30px;
}
.catalog__wrap .menu:last-of-type {
  margin-bottom: 0;
}
.catalog__wrap .menu--active {
  max-height: 2000px;
}
.catalog__wrap .menu .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  font-family: "OpenSans";
  font-weight: 700;
}
.catalog__wrap .menu .top svg {
  transition: ease-in-out 0.4s;
  -webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  -ms-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
}
.catalog__wrap .menu--active .top svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.catalog__wrap .menu .bottom {
  margin-top: 23px;
}
.catalog__wrap .menu__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "OpenSans";
  line-height: 30px;
  color: #4f4f4f;
}
.catalog__wrap .menu__item svg {
  margin-right: 10px;
}
.catalog__wrap .menu__item .count {
  width: 49px;
  height: 21px;
  background: #fff;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  font-family: "OpenSans";
  margin-left: 10px;
}
.description__other-btn--active {
  background: #5f5839 !important;
}

.catalog__wrap .menu__item__img{
  width: 20px;
  height: auto;
  margin-right: 15px;
}
.catalog__wrap .rightBlock {
  margin-left: 44px;
  flex-grow: 1;
}
.catalog__wrap .cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 1 70%;
  margin-left: -20px;
}
.catalog__wrap .cards .card {
  max-width: 315px;
  width: 100%;
  border: 1px solid #e2dac9;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 37px;
  margin-left: 20px;
}
.catalog__wrap .cards .card .image {
  width: 100%;
  height: 304px;
}
.catalog__wrap .cards .card .textBlock {
  padding: 20px 18px 32px;
}
.catalog__wrap .cards .card .textBlock .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__wrap .cards .card .textBlock .top .icons {
  display: flex;
  align-items: center;
}
.catalog__wrap .cards .card .textBlock .top .icons svg {
  width: 22px;
  height: 22px;
}

.catalog__wrap .cards .card .textBlock .top .icons__item {
  margin-right: 15px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.catalog__wrap
  .cards
  .card
  .textBlock
  .top
  .icons__item:hover
  .ready-category__item-tooltip {
  display: flex;
}
.catalog__wrap .cards .card .textBlock .top .icons__item:last-of-type {
  margin-right: 0;
}
.catalog__wrap .cards .card .textBlock .title {
  font-size: 21px;
  line-height: 24px;
  color: #5f5839;
  font-family: "Anglecia";
  font-weight: 500;
  margin-top: 15px;
  height: 72px;
  overflow: hidden;
}
.catalog__wrap .cards .card .textBlock .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.catalog__wrap .cards .card .textBlock .price .left {
  font-size: 19px;
  line-height: 21px;
  color: #5f5839;
  letter-spacing: 0.01em;
  font-family: "Anglecia";
  font-weight: 500;
}
.catalog__wrap .cards .card .textBlock .price .left span {
  font-size: 29px;
}
.catalog__wrap .cards .card .textBlock .price .left .notation {
  font-size: 10px;
  line-height: 12px;
  color: #c8a98d;
  margin-top: 5px;
}
.catalog__wrap .cards .card .textBlock .price .right {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.035em;
  color: #5f5839;
  font-family: "Anglecia";
  font-weight: 500;
}
.catalog__wrap .cards .card .textBlock .links {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.catalog__wrap .cards .card .textBlock .links .inCart {
  width: 129px;
  height: 37px;
  background: #c8a98d;
  border-radius: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  font-family: "Anglecia";
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
}
.catalog__wrap .cards .card .textBlock .links .inCart:hover {
  background: #5f5839;
}
.catalog__wrap .cards .card .textBlock .links .link__wrap {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.catalog__wrap .cards .card .textBlock .links .link--arrow-brown {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #c8a98d;
  letter-spacing: 0.125em;
  font-family: "Anglecia";
  font-weight: 500;
  height: 42px;
}
.catalog__wrap .cards .card .textBlock .links .link--arrow-brown:hover {
  color: #5f5839;
}
.catalog__wrap .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.catalog__wrap .pagination__item {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #5f5839;
  font-family: "Anglecia";
  font-weight: 600;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  margin-right: 12px;
}
.catalog__wrap .pagination__item:last-of-type {
  margin-right: 0;
}
.catalog__wrap .pagination__item--active {
  background: #c8a98d;
  color: #fff;
}
.catalog__wrap .pagination__dots {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-size: 18px;
  color: #757575;
  line-height: 21px;
  font-family: "Anglecia";
  font-weight: 600;
}
.popular {
  margin-top: 49px;
}
.popular > .container {
  position: relative;
}
.popular__wp {
  width: 90%;
}
.popular__button-prev {
  position: absolute;
  top: 400px;
  left: 10px;
}
.popular__button-next {
  position: absolute;
  top: 400px;
  right: 10px;
}
.ready__total-price {
  line-height: 28px;
  color: #c8a98d;
  letter-spacing: 0.01em;
  font-family: "Anglecia";
  font-weight: 500;
}
.ready__buttons-link {
  font-size: 16px;
  line-height: 20px;
  color: #c8a98d;
  letter-spacing: 0.125em;
  font-family: "Anglecia";
  font-weight: 500;
}
.popular__pagination {
  position: relative !important;
  margin-top: 91px;
}
.popular__pagination .swiper-pagination-bullet {
  opacity: 1;
  margin-right: 4px;
}
.popular__pagination .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}
.watched {
  margin-top: 49px;
}
.watched > .container {
  position: relative;
}
.watched__button-prev {
  position: absolute;
  top: 400px;
  left: 10px;
}
.watched__button-next {
  position: absolute;
  top: 400px;
  right: 10px;
}
.watched__wp {
  width: 90%;
}
.watched__pagination {
  position: relative !important;
  margin-top: 91px;
}
.watched__pagination .swiper-pagination-bullet {
  opacity: 1;
  margin-right: 4px;
}
.watched__pagination .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}
.feedback {
  margin-top: 100px;
}
.catalog__wrap .catalog__box {
  flex: 0 1 28%;
  flex-shrink: 0;
}
@media (max-width: 1030px) {
  .catalog__wrap .cards .card {
    margin-right: 10px;
  }
  .catalog__wrap .cards .card:nth-child(2n) {
    margin-right: 0;
  }
  .catalog__wrap .rightBlock {
    margin-left: 20px;
  }
}
@media (max-width: 980px) {
  .catalog__wrap {
    flex-direction: column;
  }
  .catalog__wrap .menu {
    max-width: 100%;
  }
  .catalog__wrap .rightBlock {
    margin-left: 0;
    margin-top: 44px;
  }
}
@media (max-width: 680px) {
  .catalog__wrap .cards {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .catalog__wrap .rightBlock {
    width: 100%;
  }

  .catalog__wrap .cards .card {
    margin-right: 0;
  }
}
