body {
  background: #f8f8f8;
}
.contacts {
  margin-top: 55px;
}
.contacts h1 {
  text-align: center;
}
.contacts .contacts__wr {
  position: relative;
  margin-top: 55px;
}
.contacts .contacts__wr > .container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.contacts .info {
  max-width: 627px;
  width: 100%;
  padding: 65px 70px;
  background: #fff;
  position: relative;
  z-index: 3;
}
.contacts .info .title {
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: #c8a98d;
  font-family: "Anglecia";
  font-weight: 700;
}
.contacts .info .items {
  margin-top: 65px;
}
.contacts .info .address {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #5f5839;
  font-family: "OpenSans";
}
.contacts .info .address span {
  font-family: "OpenSans";
  font-weight: 700;
}
.contacts .info .address .left svg {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.contacts .info .worktime {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #5f5839;
  font-family: "OpenSans";
  margin-top: 35px;
}
.contacts .info .worktime span {
  font-family: "OpenSans";
  font-weight: 700;
}
.contacts .info .worktime .left svg {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.contacts .info .worktime .right p {
  margin-bottom: 10px;
}
.contacts .info .worktime .right p:last-of-type {
  margin-bottom: 0;
}
.contacts .info .phone {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #5f5839;
  font-family: "OpenSans";
  font-weight: 700;
  margin-top: 35px;
}
.contacts .info .phone .left svg {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.contacts .info .post {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #5f5839;
  font-family: "OpenSans";
  margin-top: 10px;
}
.contacts .info .post .left svg {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.contacts .info .socials {
  margin-top: 68px;
  display: flex;
}
.contacts .info .socials__item {
  display: block;
  margin-right: 37px;
}
.contacts .info .socials__item:last-of-type {
  margin-right: 0;
}
.contacts .info .socials__item svg {
  width: 29px;
  height: 29px;
  fill: #e2dac9;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
}
.contacts .info .socials__item:hover svg {
  fill: #5f5839;
}
.contacts .info .buttons {
  margin-top: 56px;
  display: flex;
}
.contacts .info .buttons .requisites {
  width: 135px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  color: #c8a98d;
  letter-spacing: 0.01em;
  border: 1px solid #c8a98d;
  border-radius: 31px;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
}
.contacts .info .buttons .requisites:hover {
  color: #5f5839;
  border: 1px solid #5f5839;
}
.contacts .info .buttons .way {
  width: 181px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #c8a98d;
  letter-spacing: 0.01em;
  border: 1px solid #c8a98d;
  border-radius: 31px;
  margin-left: 35px;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
}
.contacts .info .buttons .way svg {
  margin-right: 10px;
  fill: #c8a98d;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
}
.contacts .info .buttons .way:hover {
  color: #5f5839;
  border: 1px solid #5f5839;
}
.contacts .info .buttons .way:hover svg {
  fill: #5f5839;
}
.contacts .info .call {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #5f5839;
  font-family: "Anglecia";
  font-weight: 500;
  justify-content: flex-end;
  margin-top: 71px;
}
.contacts .info .call::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -22px;
  width: 51px;
  height: 42px;
  background: url(/assets/img/arrowBtn.svg) no-repeat;
}
.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 1024px) {
  .map {
    position: relative;
    height: 450px;
  }
  .contacts .contacts__wr {
    display: flex;
    flex-direction: column-reverse;
  }
  .contacts .info {
    max-width: none;
  }
  .contacts .info .call {
  }
}
@media (max-width: 600px) {
  .contacts .info {
    padding: 65px 20px;
  }
  .contacts .info .title {
    font-size: 30px;
    line-height: 38px;
  }
  .contacts .info .call::after {
    right: -15px;
  }
}
@media (max-width: 475px) {
  .contacts .info .address {
    font-size: 16px;
    line-height: 21px;
  }
  .contacts .info .worktime {
    font-size: 16px;
    line-height: 21px;
  }
  .contacts .info .phone {
    font-size: 16px;
    line-height: 21px;
  }
  .contacts .info .post {
    font-size: 16px;
    line-height: 21px;
  }
  .contacts .info .title {
    font-size: 25px;
    line-height: 30px;
  }
  .contacts .info .buttons {
    justify-content: space-between;
  }
  .contacts .info .buttons .way {
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .contacts .info {
    padding: 65px 15px;
  }
  .contacts .info .title {
    font-size: 20px;
    line-height: 24px;
  }
  .contacts .info .address {
    font-size: 14px;
    line-height: 18px;
  }
  .contacts .info .worktime {
    font-size: 14px;
    line-height: 18px;
  }
  .contacts .info .phone {
    font-size: 14px;
    line-height: 18px;
  }
  .contacts .info .post {
    font-size: 14px;
    line-height: 18 px;
  }
  .contacts .info .buttons .requisites {
    width: 110px;
  }
  .contacts .info .buttons .way {
    width: 150px;
  }
}
